<?xml version="1.0" encoding="utf-8"?>
<System>
	<Admins>
		<User>Czarek</User>
        		<User>Czarek</User>
	</Admins>
	<Moderators>
		<User>Paweł</User>
	</Moderators>
	<Users>
		<User>Kamil</User>
	</Users>
	<Colors>
		<Reds>
			<Value>#c36c6c</Value>

		</Reds>
		<Blues>
			<Value>#48669c</Value>
		</Blues>
	</Colors>
	<Money>

	</Money>
	<DecimalFormat>

	</DecimalFormat>
</System>

